.header {
  display: flex;
  margin: 92px auto 96px;
  padding: 0 24px;
}

.header__menu {
  padding-right: 41px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  height: 100%;
  padding-left: 26.5px;
}

.header__links-list-item {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
}

.header__links-list-item:not(:first-child) {
  list-style: circle;
}

.header__logo-link {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo {
  width: 100%;
  height: 100%;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: calc(18px * 0.01);
}

.header__address {
  width: calc(184px + 240px);
  padding: 5px 0 2px;
  padding-left: 184px;
}

.header__address > a:nth-of-type(3) {
  letter-spacing: normal;
  text-decoration: none;
}

.cover {
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover.jpg); /*TODO сделать резиновую картинку*/
  background-size: cover;
  margin: 96px auto 179px;
  padding: 165px 50px 51px;
  position: relative;
  z-index: 0;
  color: #fff;
  font-style: normal;
}

.cover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 135px;
}

.aligned-text {
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: calc(100px * 0.3);

  span {
    letter-spacing: calc(100px * 0.6);
  }
}

.aligned-text_center {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: calc(100px * 0.3);
  padding-left: 286px;

  span {
    letter-spacing: calc(100px * 0.6);
  }
}

.aligned-text_right {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: calc(100px * 0.3);
  text-align: right;

  span {
    letter-spacing: calc(100px * 0.6);
  }

  span:last-child {
    letter-spacing: 0;
  }
}

.cover__description {
  display: flex;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  text-transform: uppercase;
  line-height: 28px;
  font-size: 22px;
  font-weight: 400;
  padding-left: 28px;

  span:first-child {
    letter-spacing: calc(22px * 0.9);
  }

  span:nth-child(2) {
    letter-spacing: calc(22px * 1.1);
  }

  span:nth-child(3) {
    word-spacing: 18px;
  }
}

.bet-button {
  border: 1px solid #fff;
  height: 51px;
  width: 256px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  font-family: inherit;
}

.lots {
  margin: 179px auto 146px;
  padding: 0 25px;
}

.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  line-height: 46.96px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 27px 0px 30px;
}

.lots__card-list_item {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  width: calc((100% - 2 * 25px) / 3);
  position: relative;
  z-index: 0;
  flex-grow: 1;
  min-height: 563px;
  padding: 49px 40px 48px;
}

.lots__card-list_item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.lots__card-list_item:nth-child(2) {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card-list_item:nth-child(3) {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  padding-left: 40px;
  display: block;
}

.lots__look-more-link:hover {
  text-decoration: underline;
}

.about {
  margin: 146px auto 180px;
  padding: 35px 25px 0px;
  display: flex;
  gap: 65px;
  width: 100%;
}

.about__column:first-child {
  width: calc((100% - 100px - 65px) / 3);
  display: flex;
  padding-left: 47px;
}

.about__column:last-child {
  width: calc((100% - 100px - 65px) / 3 * 2);
  flex-grow: 1;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 45px;
}

.about__title {
  height: 248px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  color: #000;
  display: flex;
  padding-top: 103px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 400px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.about__text_normal {
  letter-spacing: normal;
}

.about__text_little-wide {
  letter-spacing: calc(20px * 0.01);
}

.about__text_wide {
  letter-spacing: calc(20px * 0.02);
}

.about__text_wider {
  letter-spacing: calc(20px * 0.03);
}

.about__text_widest {
  letter-spacing: calc(20px * 0.04);
}

.about__text_narrow {
  letter-spacing: calc(20px * -0.01);
}

.footer {
  display: flex;
  gap: 185px;
  margin: 180px auto 0;
  padding: 0 50px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: calc(18px * 0.01);
  width: 240px;

  & > a:nth-of-type(3) {
    text-decoration: none;
    letter-spacing: 0;
  }
}

.footer__menu {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.footer__links-list {
  list-style: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  flex-grow: 1;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
}

.footer__social-link:first-child {
  background-image: url(../images/yt.svg);
}

.footer__social-link:nth-child(2) {
  background-image: url(../images/vk.svg);
}

.footer__social-link:nth-child(3) {
  background-image: url(../images/pinterest.svg);
}
