.header {
  display: flex;
  margin: auto;
  height: 200px;
  width: 1340px;
  justify-content: space-between; /*TODO не по центру*/
  padding-top: 92px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__links-list-item {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
}

.header__links-list-item:not(:first-child) {
  list-style: circle;
}

.header__logo {
  width: 148px;
}

.address {
  width: 240px;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.cover {
  width: 1440px;
  height: 757px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover.jpg);
  margin: auto;
  margin-top: 96px;
  padding: 165px 50px 60px;
  position: relative;
  z-index: -1;
  color: #fff;
  font-style: normal;
}

.cover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  width: 1340px;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.aligned-text {
  display: block;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}
.cover__description {
  display: flex;
  align-items: center;
  margin-top: auto;
  justify-content: right;
  gap: 78px;
  position: relative;
  z-index: -2;

}
.cover__description-text {
  word-spacing: 15px;
  text-transform: uppercase;
  line-height: 28px;
  font-size: 22px;
  font-weight: 400;
}
.bet-button {
  border: 1px solid #fff;
  height: 52px;
  width: 257px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
}
