.header {
  display: flex;
  margin: auto;
  height: 109px;
  width: 1340px;
  justify-content: space-between; /*TODO не по центру*/
  padding-top: 92px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__links-list-item {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
}

.header__links-list-item:not(:first-child) {
  list-style: circle;
}

.header__logo {
  width: 148px;
}

.address {
  width: 240px;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}
